@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --font-color-one: rgba(247, 220, 163, 0.9);
    --font-color-two: #75EFE0;
    --bg-color-one: rgba(11, 32, 52, 0.6);
    --bg-color-two: rgba(17, 35, 54, 0.4);
    --bg-color-three: rgba(254, 245, 226, 0.75);
    --test-font-color:  rgb(235, 235, 235);
}

body{
    overflow-x:hidden;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('Images/quang-nguyen-vinh-kECnaq8g-Xk-unsplashlowlowres.jpg');
    padding: 0px;
    margin: 0px;
    background-size: cover;
}


.form-card-b{
    background-color: rgba(11, 32, 52, 0.2);
    box-shadow: 0px 0px 4px 0px var(--bg-color-two);
}

* {
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

img {
    display: block;
    min-width: 150px;
    max-width: 90%;  
    -webkit-filter: drop-shadow(5px 5px 5px #ff6b6b);
  filter: drop-shadow(5px 5px 5px #ff6b6b);
}

.column-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.column-right{
    display: flex;
    flex-direction: column;
    color: var(--test-font-color);
    background-color: var(--bg-color-one);
    /*width:100%;*/
    justify-content: space-evenly;
    
}
.column-left{
    display: flex;
    /*width: 45%;*/
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    min-width: 100%;
    margin: auto 0;
    justify-content:space-around;
    font-style: normal;
    position: absolute; 
    bottom: 0;
    left: 0;
    z-index: 10;
    font-size: 15px;
    color: var(--font-color-one);
}
a {
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    color: var(--font-color-one);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

fieldset {
    display: flex;
    border-style: none;
    margin-left: 5px;
    justify-content: left;
    padding: 0px;
}
form {
    margin-left: 10px;
}
.form-card-b > form {
    width: 100%;
}
form > h3 {
    text-align: center;
}
input {
    background-color: rgba(235, 235, 235, 0.5);
    padding: 3px 3px;
    width: 350px;
}
::placeholder{
    color: var(--test-font-color);
    font-style: italic
}
input:focus{
    outline: none !important;
    border:1px solid var(--font-color-one);
    box-shadow: 0 0 10px #719ECE;
    
}
label{
    padding: 0px 0px 7px 0px;
    font-size: 16px;
    font-weight: bold;
}
.inputWrapper label{
  display:block;
}
.inputWrapper {
    padding: 10px 20px 10px 0px
}

button {
    background-color: var(--font-color-one);
}

.welcome {
    padding: 0px 0px 0px 25px;
}

.submit-section{
    padding: 0px 0px 0px;
}